[submodule "dssat-csm-os"]
	path = dssat-csm-os
	url = https://gitlab.inria.fr/rgautron/dssat-csm-os.git

[submodule "dssat-csm-data"]
	path = dssat-csm-data
	url = https://github.com/DSSAT/dssat-csm-data.git